/* nav */
nav{
    width:100%;
    background-color: var(--color-white);
    padding: 0.7rem 0;
}
nav .nav-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
nav .logo {
    font-size: 1.2rem;
    text-transform: uppercase;
    user-select: none;
    font-family: "Comfortaa";
    color: var(--color-black);
    margin: 0 2rem
}
nav a {
    text-decoration: none;
    color: var(--color-black);
}
nav .search-bar {
    background-color: var(--panel-bgcolor);
    width:20vw;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    /* min-width: 20vw; */
}

nav .bi .bi-search {
    margin: 0 1rem;
}
nav input[type="text"] {
    border: none;
    outline: none;
   
}
nav .btn {
    width: 8rem;
    color: var(--color-white);
    border-radius: var(--btn-border-radius);
    padding: var(--btn-padding);
    box-shadow: none;
    border: none;
    
}
nav .btn-primary {
    background-color: var(--color-primary);
}

nav .create {
    display: flex;
    width: 16rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}